<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/../../assets/bg1.jpg" alt="First slide" />
        <div class="carousel-caption d-none d-lg-block">
          <h1 class="img_txt">
            WORLDWILD <br />
            NEWS<br />
          </h1>
        </div>
        <div class="carousel-caption">
            <a routerLink="/news" 
            ><button type="button" class="btn btn-lg btn-outline-light btn-block">LATEST NEWS</button></a>
             
        </div>
      </div>
     
  </div>